/*
  Flaticon icon font: Flaticon
  Creation date: 03/12/2019 12:42
  */

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 25px;
    font-style: normal;
    margin-left: 0px;
}

.flaticon-hospital-bed:before { content: "\f100"; }
.flaticon-woman:before { content: "\f101"; }
.flaticon-pregnant:before { content: "\f102"; }
.flaticon-maternity:before { content: "\f103"; }
.flaticon-sharing:before { content: "\f104"; }
.flaticon-learning:before { content: "\f105"; }
.flaticon-hospital:before { content: "\f106"; }
.flaticon-suction:before { content: "\f107"; }
.flaticon-ambulance:before { content: "\f108"; }
.flaticon-ambulance-1:before { content: "\f109"; }
.flaticon-laboratory:before { content: "\f10a"; }
.flaticon-scientist:before { content: "\f10b"; }
.flaticon-pharmacist:before { content: "\f10c"; }
.flaticon-pharmacist-1:before { content: "\f10d"; }
.flaticon-tooth:before { content: "\f10e"; }
.flaticon-tooth-1:before { content: "\f10f"; }
.flaticon-physio-balls:before { content: "\f110"; }
.flaticon-population:before { content: "\f111"; }
.flaticon-population-1:before { content: "\f112"; }
.flaticon-hospital-1:before { content: "\f113"; }
.flaticon-hospital-2:before { content: "\f114"; }
.flaticon-hospital-3:before { content: "\f115"; }
.flaticon-tonometer:before { content: "\f116"; }
.flaticon-endoscope:before { content: "\f117"; }
.flaticon-cpr:before { content: "\f118"; }
.flaticon-stethoscope:before { content: "\f119"; }
.flaticon-doctor:before { content: "\f11a"; }
.flaticon-midwife:before { content: "\f11b"; }
.flaticon-envelope:before { content: "\f11c"; }
.flaticon-smartphone:before { content: "\f11d"; }
.flaticon-cellphone:before { content: "\f11e"; }
.flaticon-maintenance:before { content: "\f11f"; }
.flaticon-interface:before { content: "\f120"; }
.flaticon-admin:before { content: "\f121"; }
.flaticon-settings:before { content: "\f122"; }
.flaticon-settings-1:before { content: "\f123"; }
.flaticon-test:before { content: "\f124"; }
.flaticon-exam:before { content: "\f125"; }
.flaticon-test-1:before { content: "\f126"; }
.flaticon-checklist:before { content: "\f127"; }
.flaticon-checklist-1:before { content: "\f128"; }
.flaticon-test-2:before { content: "\f129"; }
.flaticon-analyze:before { content: "\f12a"; }
.flaticon-diagram:before { content: "\f12b"; }
.flaticon-analysis:before { content: "\f12c"; }
.flaticon-laptop:before { content: "\f12d"; }
.flaticon-medical-report:before { content: "\f12e"; }
.flaticon-health-report:before { content: "\f12f"; }
.flaticon-newspaper:before { content: "\f130"; }
.flaticon-report:before { content: "\f131"; }
.flaticon-newspaper-1:before { content: "\f132"; }
.flaticon-graph:before { content: "\f133"; }
.flaticon-analytics:before { content: "\f134"; }
.flaticon-find-my-friend:before { content: "\f135"; }
.flaticon-lens:before { content: "\f136"; }
.flaticon-hr:before { content: "\f137"; }
.flaticon-plus:before { content: "\f138"; }
.flaticon-google-plus:before { content: "\f139"; }
.flaticon-respiratory:before { content: "\f13a"; }
.flaticon-acid:before { content: "\f13b"; }
.flaticon-risks:before { content: "\f13c"; }
.flaticon-risks-1:before { content: "\f13d"; }
.flaticon-people:before { content: "\f13e"; }
.flaticon-users:before { content: "\f13f"; }
.flaticon-feedback:before { content: "\f140"; }
.flaticon-user:before { content: "\f141"; }
.flaticon-coverage-level:before { content: "\f142"; }
.flaticon-sound-waves:before { content: "\f143"; }
.flaticon-data:before { content: "\f144"; }
.flaticon-sound:before { content: "\f145"; }
.flaticon-calendar:before { content: "\f146"; }
.flaticon-work-time:before { content: "\f147"; }
.flaticon-id-card:before { content: "\f148"; }
.flaticon-accredited:before { content: "\f149"; }
.flaticon-badge:before { content: "\f14a"; }
.flaticon-card:before { content: "\f14b"; }